---

import WidgetLayout from './WidgetLayout.astro'
import ButtonTag from '../control/ButtonTag.astro'
import { fetchTags } from '../../utils/api-blog'
import { i18n } from '../../i18n/translation'
import I18nKey from '../../i18n/i18nKey'
import { url } from '../../utils/url-utils'

// Obtener todos los tags únicos desde la API
const tags = await fetchTags()

const COLLAPSED_HEIGHT = '7.5rem'
const isCollapsed = tags.length >= 20

interface Props {
  class?: string
  style?: string
}
const className = Astro.props.class
const style = Astro.props.style
---
<WidgetLayout name={i18n(I18nKey.tags)} id="tags" isCollapsed={isCollapsed} collapsedHeight={COLLAPSED_HEIGHT} class={className} style={style}>
    <div class="flex gap-2 flex-wrap">
        {tags.map((t : string) => (
            <ButtonTag href={url(`/archive/tag/${t}/`)} label={`View all posts with the ${t} tag`}>
                {t}
            </ButtonTag>
        ))}
    </div>
</WidgetLayout>